<div class="">
  <div class="g-flex g-gap form-group">
    <input
      placeholder="Enter package id"
      type="text"
      class="form-control"
      required
      [(ngModel)]="packageId"
    />

    <button class="btn btn-lg btn-success" (click)="getPackageDetails()">Submit</button>
  </div>
</div>

<div class="d-body g-gap mt-5">
  <div >
    <div>
      <h2>Package details</h2>
      <ul>
        <li>ID: {{ package?.package_id }}</li>
        <li>Height: {{ package?.height }}</li>
        <li>Weight: {{ package?.weight }}</li>
        <li>Depth: {{ package?.depth }}</li>
        <li>Sender name: {{ package?.from_name }}</li>
        <li>Sender address: {{ package?.from_address }}</li>
        <li>Receiver name: {{ package?.to_name }}</li>
        <li>Receiver address: {{ package?.to_address }}</li>
        <li>Description: {{ package?.description }}</li>
      </ul>
    </div>

    <div class="mt-3">
      <h2>Delivery details</h2>
      <ul>
        <li>ID: {{ delivery?.delivery_id }}</li>
        <li>Status: {{ delivery?.status }}</li>
        <li>Picked up at: {{ delivery?.pickup_time }}</li>
        <li>Start at: {{ delivery?.start_time }}</li>
        <li>End at: {{ delivery?.end_time }}</li>
      </ul>
    </div>
  </div>
  <div>
    <app-map [center]="center" [markerPositions]="locations" ></app-map>
  </div>
</div>

